<app-header></app-header>

<div class="container">
    <div class="box box-full box-tall main-image"></div>
    <div class="box box-full box-tall">box-full box-tall</div>
    <div class="box box-full box-tall">box-full box-tall</div>
</div>

<footer>
    <div class="container">
        <div class="footer-left">   <!-- Left content-->
            <h1>Created By: </h1>
            <p class="footer-members-name">Arreola Xicali E. Denisse</p>
            <p class="footer-members-name">García Guarneros L. Daniel</p>
            <p class="footer-members-name">López Ramírez K. Tonatiuh</p>
            <p class="footer-members-name">Robles Dueñas Melanny Nahomy</p>
        </div>
        <div>   <!-- Right content-->
            
        </div>
    </div>
</footer>
    
