<header>
    <section class="container">
        <div class="container-flex container-padding">
            <article class="site-title">
                <h1>Green & Fresh</h1>
            </article>
      
            <nav>
                <ul>
                    <li routerLink="/"> Home</li>
                    <li routerLink="/">Dashboard</li>
                    <li routerLink="/fruits">Fruits</li>
                    <li routerLink="/">Settings</li>
                </ul>
            </nav>
        </div>
    </section>
</header>
