<div class="container"> 
    <div class="box box-full box-tall main-image"></div>
    <div class="box box-normal box-short">
        <img height="80%" src="../../../assets/img/API.jpg"/>
        <div class="api-app-description-container">
            <div>
                <img src="../../../assets/img/Logo.png" width="150px" />
                <h2>API</h2>
            </div>
            <p>All about the information and methods
                for the operation of the API</p>
        </div>
    </div>
    <div class="box box-normal box-short">
        <img height="80%" src="../../../assets/img/APP_logo.png"/>
        <div class="api-app-description-container">
            <div>
                <img src="../../../assets/img/Logo.png" width="150px" />
                <h2>APP</h2>
            </div>
            <p>Check the production every day, every time that you want on your 
                cell phone, download the app</p>
        </div>
    </div>
    <div class="box box-full box-tall" id="green-fresh-description-box">
        <div id="green-fresh-description">
            <h2>Green & Fresh Project</h2>
            <p>
                The purpose of this project is introduce the "Internet of 
                things" in the Industry. Fruits have different characteristics 
                that determine if a fruit is fresh or not to consume like color, 
                humidity, PH, smell and other kind of things, so, 
                the project seeks to start analyzing the color of the fruits to 
                verify their status and will progress in a future with different
                 features.
            </p>
        </div>
    </div>
</div>