<footer>
    <div class="container">
        <div class="container-padding">
            <div class="footer-div">   <!-- Left content-->
                <h1>Created By: </h1>
                <p class="footer-members-name">Arreola Xicali E. Denisse</p>
                <p class="footer-members-name">García Guarneros L. Daniel</p>
                <p class="footer-members-name">López Ramírez K. Tonatiuh</p>
                <p class="footer-members-name">Robles Dueñas Melanny Nahomy</p>
            </div>
            <div class="footer-div">   <!-- Right content-->
                <h1>Green & Fresh</h1>
                <p class="footer-credits">Universidad Tecnológica de Tijuana</p>
                <p class="footer-credits">Tecnologías de la Información</p>
                <p class="footer-credits">Desarrollo de Software Multiplataforma</p>
            </div>
        </div>
    </div>
</footer>
