@import url(../../../styles.css);



.datetime-box, .enviroment-variable-box, .fruit-box, .info-box {
    width: 100%;
    margin: auto;
} 

.datetime-box-date, .datetime-box-hour {
    margin: 0 auto;
    width: 80%;
}

.datetime-box-hour {
    color: var(--gray_800);
    font-size: 20pt;

    text-align: center;
    border-bottom: 2px solid #DDD;
}

.datetime-box-date {
    color: var(--gray_800);
    font-size: 14pt;

    text-align: center;
} 


.enviroment-variable-box-value {
    color: var(--gray_800);
    font-size: 22pt;

    text-align: center;
}

.enviroment-variable-box-hint {
    color: var(--gray_800);
    font-size: 12pt;

    text-align: center;
}

.fruit-box-target {
    color: var(--gray_500);
    font-size: 10pt;

    text-align: center;
}

.fruit-box-icon {
    color: var(--gray_800);
    font-size: 20pt;

    text-align: center;
}

.fruit-box-value {
    color: var(--gray_800);
    font-size: 12pt;

    text-align: center;
}

.info-box {
    /* justify-content: space-between;
    display: flex;
    flex-direction: column; */
    
    height: calc(80% - 30px);
    padding: 15px ;
    width: 100%;
    /* line-height: 5px; */

}

.info-box-value {

    min-height: 35px;
    color: var(--gray_800);
    font-size: 14pt;
    text-align: left;

}

.status-box {
    height: calc(20% - 30px);
    padding: 15px;
}

.status-box-value {
    color: var(--gray_800);
    font-size: 16pt;
    text-align: left;
    font-weight: bold;
}

.status-box-icon  {
    width: 100%;
    margin: auto;
}

/* Fruit Containers */
.list-title{
    margin-top: 20px;
    height: 30px;
    border-color: white;
}

.list-title p{
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    color: var(--gray_500);
}

.fruit-container{
    padding: 0px;
}

.fruit-container-fruit{
    margin: 0 10px;
    width: 60px;
}

.fruit-container-data{
    margin: 0 10px 0 5px;
    width: calc(100% - 60px - 15px);   /* Reference the padding and width to the image */
    font-size: 14px;
}

.fruit-container-data h3{
    font-size: 16px;
    color: var(--green_500);
    width: 100%;
    margin: 0;
}

.fruit-container-data p{
    margin: 5px 0 0 0;
    width: 100%;
    color: var(--gray_700);
}

/* --- RESPONSIVE --- */

/* notebook or small desktop */
@media only screen and (max-width:1280px) {  
}
/* notebook */
@media only screen and (max-width:1024px) {  
}
/* tablet */
@media only screen and (max-width:900px) {  
}
/* tablet */
@media only screen and (max-width:768px) {  
}
/* large smartphone */
@media only screen and (max-width:640px) { 
}
/* smartphone */
@media only screen and (max-width:480px) {
    .fruit-container { width: calc(100% - 22px); }
}