<div class="container">

    <div class="box box-small box-short">
        <div class="datetime-box">
            <div class="datetime-box-hour">
                5:09 PM
            </div>
    
            <div class="datetime-box-date">
                Sunday 12th, July 2021
            </div>
        </div>
    </div>

    <div class="box box-small box-short">
        <div class="enviroment-variable-box">

            <div class="enviroment-variable-box-value">
                45 %
            </div>
    
            <div class="enviroment-variable-box-hint">
                Humidity
            </div>
        </div>
    </div>

    <div class="box box-small box-short">
        <div class="enviroment-variable-box">
            <div class="enviroment-variable-box-value">
                23.7 °C
            </div>

            <div class="enviroment-variable-box-hint">
                Temperature
            </div>
        </div>
    </div>

    <div class="box box-small box-short">
        <!-- <fa-icon [icon]="faCoffe"></fa-icon> -->
        <!-- <fa-icon icon="coffee" style="font-size: 24px; color: black;" ></fa-icon> -->

        <div class="status-box">
            <div class="status-box-value">
                Online  <fa-icon icon="circle" style="font-size: 24pt; color: green;" ></fa-icon>
            </div>
        </div>

        
    </div>
</div>

<div class="container">
    <div class="box box-normal box-tall">
        chart-1?
    </div>

    <div class="box box-normal box-tall">
        chart-2?
    </div>
    
</div>

<div class="container">
    <div class="box box-normal box-tall">
        chart-3?
    </div>

    <div class="box box-normal box-tall">
        chart-4?
    </div>
    
</div>