<div class="container">
    <div class="box box-full list-title">
        <p>Fruit's List</p>
        <button id="refresh-button" (click)="ngOnInit()">Refresh</button>
    </div>
    <div *ngFor="let fruit of fruits">
        <div class="box box-short box-small fruit-container">


            <div *ngIf="fruit.image != false; else elseBlock">
                <img  [src]="fruit.image" class="fruit-container-fruit"/>
            </div>
            
            <ng-template #elseBlock >
                <img src="../../../assets/img/manzana.png" class="fruit-container-fruit"/>
            </ng-template>
            
            

            <section class="fruit-container-data">
                <h3>{{ fruit.name }}</h3>
                <p><strong>Description: </strong>{{ fruit.description }}</p>
                <p>
                    <strong>R:</strong> {{fruit.requirements.R}}
                    <strong>G:</strong> {{fruit.requirements.G}}
                    <strong>B:</strong> {{fruit.requirements.B}}
                </p>
            </section>
        </div>
    </div>

    <div class="box box-full list-title"><p>Fruits' Inspection </p></div>

    <div class="box box-normal box-tall" id="inspection-result-day">
        <!-- Ganancias del dia, por fruta

        <br>Nota: sin tomar en cuenta la linea de producción -->
    </div>

    <div class="box box-normal box-tall">
        <fa-icon icon="chevron-left" style="font-size: 18pt; cursor: pointer;" (click)="changeItem(-1)"></fa-icon>
        
        <div style="width: 90%; height: 90%;" id="plot-chart">

        </div>

        <fa-icon icon="chevron-right" style="font-size: 18pt;cursor: pointer; " (click)="changeItem(1)"></fa-icon>
    </div>

    <!-- Fruit Weight Menu -->
    <div class="box box-full fruit-weight-menu">
        <p *ngFor="let fruit of fruits" (click)="setFruit(fruit)">{{fruit.name}}&nbsp; / &nbsp;</p>
    
    </div>

    <div class="box box-full box-tall" id="chart-weight">        
    </div>
</div>