<div class="container">
    <div class="box box-full list-title"><p>Fruit's List</p></div>
    <div *ngFor="let fruit of fruits">
        <div class="box box-short box-small fruit-container">


            <div *ngIf="fruit.image != false; else elseBlock">
                <img  [src]="fruit.image" class="fruit-container-fruit"/>
            </div>
            
            <ng-template #elseBlock >
                <img src="../../../assets/img/manzana.png" class="fruit-container-fruit"/>
            </ng-template>
            
            

            <section class="fruit-container-data">
                <h3>{{ fruit.name }}</h3>
                <p><strong>Description: </strong>{{ fruit.description }}</p>
                <p>
                    <strong>R:</strong> {{fruit.requirements.R}}
                    <strong>G:</strong> {{fruit.requirements.G}}
                    <strong>B:</strong> {{fruit.requirements.B}}
                </p>
            </section>
        </div>
    </div>

    <div class="box box-full list-title"><p>Fruits' Inspection </p></div>

    <div class="box box-normal box-tall">
        Ganancias del dia, por fruta

        <br>Nota: sin tomar en cuenta la linea de producción
    </div>
    <div class="box box-normal box-tall">
        Ganancias de la semana, por fruta

        <br>Nota: sin tomar en cuenta la linea de producción
    </div>

    <!-- Fruit Weight Menu -->
    <div class="box box-full fruit-weight-menu">
        <p>Apple&nbsp; / &nbsp;</p>
        <p>Banana&nbsp; / &nbsp;</p>
        <p>Orange</p>
    </div>

    <div class="box box-full box-tall">
        Peso de las frutas por linea de producción

        <br>Nota: Tomando en cuenta solo la fruta seleccionada del menu
    </div>
</div>