@import url(../../../styles.css);

/* title section */
.subtitle-section{
    margin-top: 0px;
    margin-bottom: 10px;
    border-color: #FFF;
    height: 30px;
}

.subtitle-section p{
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    color: var(--gray_500);
}

/* Production Line Menu */
.production-line-menu{
    margin-top: 30px;
    margin-bottom: 0px;
    border-color: #FFF;
}

.production-line-menu p{
    font-size: 12px;
    font-weight: bold;
    color: var(--gray_500);
    cursor: pointer;
}

.production-line-menu p:hover{
    color: var(--orange_200);
}

/* Production Line Panel */
#hidde-title{
    display: none;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    color: var(--gray_500);
    text-align: center;
}

.datetime-box, .enviroment-variable-box, .fruit-box, .info-box {
    width: 100%;
} 

.datetime-box-hour {
    color: var(--gray_700);
    font-size: 20pt;
    margin-bottom: 10px;
    text-align: center;
}

.datetime-box-date {
    color: var(--gray_700);
    font-size: 14pt;
    text-align: center;
} 

.enviroment-variable-box-value {
    color: var(--gray_700);
    font-size: 20pt;
    margin-bottom: 10px;
    text-align: center;
}

.enviroment-variable-box-hint {
    color: var(--gray_700);
    font-size: 12pt;
    text-align: center;
}

.fruit-box-target {
    color: var(--gray_500);
    font-size: 10pt;
    text-align: center;
}

.fruit-box-icon{
    text-align: center;
    width: 100%;
    margin: 6px auto;
}

.fruit-box-icon img{
    text-align: center;
    width: 40px;
    margin: 0 auto;
}

.fruit-box-value {
    color: var(--gray_700);
    font-size: 12pt;
    text-align: center;
}

.production-line-container{
    flex-direction: column;
}

.production-line-container p{
    text-align: left;
    color: var(--gray_700);
    width: calc(100% - 30px);
    margin: 5px 15px;
    font-size: 12pt;
}

.set-fruit{
    border: none;
    margin-bottom: 40px;
    margin-top: 0px;
}

.set-fruit div{
    width: 100%;
    text-align: left;
}

.set-fruit label{
    color: var(--gray_700);
    font-size: 16px;
}

.set-fruit select{
    margin: 0px 20px 0px 20px;
    font-size: 16px;
    color: var(--gray_700);
    text-align: left; 
    height: 30px;
    border-radius: 30px;
    border: 1px solid var(--gray_500);
    outline:none;
    padding: 0px 10px 0px 10px;
}

.set-fruit select:focus{
    box-shadow: 0 0 0 1pt var(--green_500);
}

.set-fruit button {
    margin: 15px 0px 0px 0px;
    width: 130px;
    height: 35px;
    background-color: var(--green_500);
    border-radius: 30px ;
    border: 1px var(--gray_400) solid;
    font-size: 10pt;
    color: var(--white);
    font-weight: bold;
    cursor: pointer
    
}

.set-fruit button:hover {
    background-color: #4eba27;
}

.refresh{
    margin-top: 20px;
}

#refresh-button{
    float: left;
    width: 130px;
    height: 35px;
    background-color: var(--green_500);
    border-radius: 30px ;
    border: 1px var(--gray_400) solid;
    font-size: 10pt;
    color: var(--white);
    font-weight: bold;
    cursor: pointer
    
}

#refresh-button:hover{
    background-color: #4eba27;
}


/* --- RESPONSIVE --- */

/* notebook or small desktop */
@media only screen and (max-width:1280px) {  
}
/* notebook */
@media only screen and (max-width:1024px) {  
}
/* tablet */
@media only screen and (max-width:900px) {  
    .production-line-container{ width: calc(50% - 22px); height: calc(180px - 22px); border: none; border-right: 1px solid #DDD;}
    #set-fruit-title{display: none;}
    #hidde-title{display: block;}
    .set-fruit{width: calc(50% - 20px);}
    #fruit-selector{margin: 10px 0px 0px 0px; width: 200px;}
}
/* tablet */
@media only screen and (max-width:768px) {  
}
/* large smartphone */
@media only screen and (max-width:640px) { 
    .production-line-container{ width: calc(100% - 22px); border: 1px solid #DDD;}
    #set-fruit-title{display: block;}
    #hidde-title{display: none;}
    .set-fruit{width: calc(100% - 24px); margin: 12px;}
    #fruit-selector{margin:0px 5px; width: 150px;}
}
/* smartphone */
@media only screen and (max-width:480px) {
    #fruit-selector{margin: 10px 0px 0px 0px; width: 200px;}
    .production-line-menu{flex-direction: column; margin: 20px 0px}
    .production-line-menu p{margin: 5px 0px;}
}
