:root {
    /*  Basic theme  */
    --green_500: #77E03A;
    --yellow_200: #E5EFAC;
    --orange_200: #F88F55;
    --red_600: #F8002F;
    --white: #FFFFFF;

    /*  gray theme  */
    --gray_800: #252D34;    /* Strong title preferably */
    --gray_700: #616161;    /* Typography preferably */
    --gray_500: #9E9E9E;    /* Subtitle preferably */
    --gray_400: #BDBDBD;    /* Icon preferably */
    --gray_100: #F5F5F5;    /* Sections preferably */
}

* { 
    font-family: Arial, Helvetica, sans-serif;
}

.doc h1{
    font-size: 30pt;
    padding-left:20px ;
    color: var(--red_600);
}
.doc{
    text-align: center;
}

header {
    position: relative;
    text-align: center;
    width: 100%;
    height: 70px;
    background: var(--green_500);
}

.container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
}

.container img{
    text-align: left;
    margin: 10px 5px;
}

.container p{
    text-align: left;
    font-size: 20px;
    margin: 30px 10px 0px 10px;
    font-weight: 700;
    color: var(--gray_800);
}