

<div class="container">
    
    <div class="box box-normal box-tall ">
        <form [formGroup]="uploadForm" class="fruit-box-insert" (ngSubmit)="submit()">
        
            <h1>  Insert a Fruit </h1>
    
            <div class="input-box">
    
                <label for="new-code"> Code: </label>
                <input formControlName="code" id="new-code" type="text" minlength="3" maxlength="3" #fruitCode/>
        
        
                <label for="new-fruit"> Name: </label>
                <input formControlName="name" id="new-fruit" type="text" minlength="3" maxlength="15" #fruitName/>
                
                
        
                <label for="new-description"> Description: </label>
                <input formControlName="description" id="new-description" type="text" minlength="3" maxlength="250" #fruitDescription/>
                
                
        
                <label for="new-image"> Image: </label>
                <input id="new-image" type='file' accept="image/*" (change)="showPreview($event)" #fruitImage/>
                   
                <!-- <label for="the-image"> * </label> -->
                
                <img [src]="imageURL" /> <button type="submit">Submit</button> 
                
            </div>
           
    
           
    
        </form>
    </div>

    

    <div class="box box-normal box-tall">
        <form  class="fruit-box-insert" >
        
            <h1>  Fruits Requirements </h1>
    
            <div class="input-box">
    
                <label for="new-code"> Fruit </label>
                <select class="input-selector" (change)="selectFruit($event)" >
                    <option value="" selected>Select a Fruit</option>
                    <option *ngFor="let fruit of fruits" [value]="fruit.code" [selected]="selectedOption === fruit.code "> {{fruit.name}} </option>
                </select>                                
                
            </div>
           
            <div *ngIf="" class="view-requirements-box">

            </div>
    
            <button type="submit">Start</button>
    
        </form>
    </div>

</div>
